
        .pargaraph {
            margin: 10px;
            color: #E4EBF0;
            text-decoration: none;
        }

        .image {
            /* position: relative; */
            /* top: 70px; */
            width: 100%;
            /* opacity: 1; */
        }

        h1.center {
            padding: 10px;
        }

        .center {
            text-align: center;
        }


        .pricestar {
            padding: 10px;
            /* position: relative; */
            /* top: 40px; */
        }

        section.timform {
            padding: 10px;
            text-align: -webkit-center;
        }

        .onetime {
            /* position: relative; */
            /* top: 70px; */
            /* margin-left: auto; */
            /* margin-right: auto; */
            height: fit-content;
            width: 100%;
            max-width: 400px;
            border: 1px solid black;
        }

        .onetime1 {
            padding-top: 10px;
            height: 60px;
            /* width: 100%; */
            background-color: darkcyan;
        }

        .formdata {
            padding: 10px;
        }



        p.\32 0hrhr {
            font-size: 140%;
            margin: 0px;
            padding: 10px;
        }

        section.timform {
            padding: 10px;
            text-align: -webkit-center;
        }

        .pricestar {
            padding: 10px;
            /* position: relative; */
            /* top: 40px; */
        }

        .extraimage {
            flex-wrap: wrap;
            padding: 10px;
            /* position: relative; */
            display: flex;
            justify-content: space-evenly;
            /* width: 100%; */
            /* top: 5%; */
            align-items: center;
        }

        .extraservicimg {
            padding: 10px;
            text-align: center;
        }

        .border {
            height: 200px;
            width: 200px;
            background-color: white;
            border: 1px solid;
            border-radius: 100%;
        }

        .imageextraserv {
            padding-top: 50px;
            width: 100px;
            height: 100px;
            opacity: 1;
        }

        .extraservicimg {
            padding: 10px;
            text-align: center;
        }

        .whyhelper {
            /* flex-wrap: wrap; */
            padding: 10px;
            /* position: relative; */
            display: flex;
            justify-content: space-evenly;
            /* width: 100%; */
            /* top: 5%; */
            align-items: center;
        }

        .fr1blog {
            /* position: relative; */
            margin: 8px;
            border: 4px;
            border-spacing: 4px;
        }

        .thebstleft {
            padding: 10px;
            text-align: end;
        }

        .thebst {
            padding: 10px;
        }

        .thebst img {
    width: 100%;
    padding: 10px;
}

        .thebestpar {
            padding: 10px;
            max-width: 300px;
        }

        .thebstright {
            padding: 10px;
            text-align: left;
        }
