@model WebApplication4.Models.User

@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/hederfooter.css">
<div id="id02" class="modal">
    <div class="modal-content">
        <h1>Forgot Password</h1>
        <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="close"
                  title="Close Modal">&times</span>
            <img src="~/image/user1.jpg" alt="Avatar" class="avatar">
        </div>
        <form method="post" asp-controller="Home" asp-action="Creat_for_ForgotPassword">
            <div class="container">
                <label>Email</label>
                <input type="text" asp-for="Email" placeholder="Enter Email" required>
                <input class="btn-primary" type="submit" value="submit" />
            </div>
        </form>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id02').style.display='none'"
                    class="cancelbtn">
                Cancel
            </button>
            <span class="psw">
                <a onclick="document.getElementById('id01').style.display = 'block';document.getElementById('id02').style.display='none';">Login Now</a>
            </span>
            <p>
                Don't have an account yet?
                <a asp-controller="Home" asp-action="UserRegisteration">create Account</a>
            </p>
        </div>
    </div>
</div>
