
@{
    ViewData["Title"] = "Service-provider";
}
<section>
    <div class="fulldata">
        <div class="leftnav">
            <ul>
                <li>Dashboard</li>
                <li>New Service Request</li>
                <a href="Service_Provider_Upcoming_Service.html">
                <li>Upcoming Service</li></a>
                <li>Service Schedule</li>
                <li>Service History</li>
                <li>My Rating</li>
                <li>Block Customer</li>
            </ul>
        </div>
        <div class="rightdata">

            <section class="intfs">
                <table class="table1">
                    <thead class="">
                        <tr class="">
                            <td>Service ID <img src="image/sort.png" alt="date"></td>
                            <td>Service date <img src="image/sort.png" alt="date"></td>
                            <td>Customer details<img src="image/sort.png" alt="date"></td>
                            <td>Service Provider<img src="image/sort.png" alt="date"></td>
                            <td>Satatus<img src="image/sort.png" alt="date"></td>
                            <td>Action</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lyum watson</td>
                            <td class="date">
                                <div class="flx calander">
                                    <img class="cald" src="image/calendar2.png" alt="date">
                                    <p>09/04/018</p>
                                </div>
                                <div class="flx">
                                    <img class="cald" src="image/layer-14.png" alt="date">
                                    <p>12:00-8:00</p>
                                </div>
                            </td>
                            <td class="date">
                                <div class="devid">
                                    <p>Devid Bough</p>
                                    <div class="flx">
                                        <img class="homimg" src="image/layer-15.png" alt="date">
                                        <p>Musterstrabe 5,12345 Bonn </p>
                                    </div>

                                </div>
                            </td>
                            <td class="date">
                                <div>
                                    <div class="flx">
                                        <div class="cap">
                                            <img class="capimg" src="image/cap.png" alt="date">
                                        </div>
                                        <p>Lyum Watson </p>
                                    </div>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <button class="cancl">New</button>
                            </td>
                            <td>
                                <div class="actiondropdown">
                                    <button class="actiondropbtn"><img src="image/group-38.png" alt="date"></button>
                                    <div class="actiondropdown-content">
                                        <a href="#">Edit&amp; Reschedule</a>
                                        <a href="#">Refund</a>
                                        <a href="#">Cancel</a>
                                        <a href="#">Change SP</a>
                                        <a href="#">Escalate</a>
                                        <a href="#">History Log</a>
                                        <a href="#">Download Invoice</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Lyum watson</td>
                            <td class="date">
                                <div class="flx calander">
                                    <img class="cald" src="image/calendar2.png" alt="date">
                                    <p>09/04/018</p>
                                </div>
                                <div class="flx">
                                    <img class="cald" src="image/layer-14.png" alt="date">
                                    <p>12:00-8:00</p>
                                </div>
                            </td>
                            <td class="date">
                                <div class="devid">
                                    <p>Devid Bough</p>
                                    <div class="flx">
                                        <img class="homimg" src="image/layer-15.png" alt="date">
                                        <p>Musterstrabe 5,12345 Bonn </p>
                                    </div>

                                </div>
                            </td>
                            <td class="date">
                                <div>
                                    <div class="flx">
                                        <div class="cap">
                                            <img class="capimg" src="image/cap.png" alt="date">
                                        </div>
                                        <p>Lyum Watson </p>
                                    </div>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <button class="cancl">New</button>
                            </td>
                            <td>
                                <div class="actiondropdown">
                                    <button class="actiondropbtn"><img src="image/group-38.png" alt="date"></button>
                                    <div class="actiondropdown-content">
                                        <a href="#">Edit&amp; Reschedule</a>
                                        <a href="#">Refund</a>
                                        <a href="#">Cancel</a>
                                        <a href="#">Change SP</a>
                                        <a href="#">Escalate</a>
                                        <a href="#">History Log</a>
                                        <a href="#">Download Invoice</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Lyum watson</td>
                            <td class="date">
                                <div class="flx calander">
                                    <img class="cald" src="image/calendar2.png" alt="date">
                                    <p>09/04/018</p>
                                </div>
                                <div class="flx">
                                    <img class="cald" src="image/layer-14.png" alt="date">
                                    <p>12:00-8:00</p>
                                </div>
                            </td>
                            <td class="date">
                                <div class="devid">
                                    <p>Devid Bough</p>
                                    <div class="flx">
                                        <img class="homimg" src="image/layer-15.png" alt="date">
                                        <p>Musterstrabe 5,12345 Bonn </p>
                                    </div>

                                </div>
                            </td>
                            <td class="date">
                                <div>
                                    <div class="flx">
                                        <div class="cap">
                                            <img class="capimg" src="image/cap.png" alt="date">
                                        </div>
                                        <p>Lyum Watson </p>
                                    </div>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <button class="cancl">New</button>
                            </td>
                            <td>
                                <div class="actiondropdown">
                                    <button class="actiondropbtn"><img src="image/group-38.png" alt="date"></button>
                                    <div class="actiondropdown-content">
                                        <a href="#">Edit&amp; Reschedule</a>
                                        <a href="#">Refund</a>
                                        <a href="#">Cancel</a>
                                        <a href="#">Change SP</a>
                                        <a href="#">Escalate</a>
                                        <a href="#">History Log</a>
                                        <a href="#">Download Invoice</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Lyum watson</td>
                            <td class="date">
                                <div class="flx calander">
                                    <img class="cald" src="image/calendar2.png" alt="date">
                                    <p>09/04/018</p>
                                </div>
                                <div class="flx">
                                    <img class="cald" src="image/layer-14.png" alt="date">
                                    <p>12:00-8:00</p>
                                </div>
                            </td>
                            <td class="date">
                                <div class="devid">
                                    <p>Devid Bough</p>
                                    <div class="flx">
                                        <img class="homimg" src="image/layer-15.png" alt="date">
                                        <p>Musterstrabe 5,12345 Bonn </p>
                                    </div>

                                </div>
                            </td>
                            <td class="date">
                                <div>
                                    <div class="flx">
                                        <div class="cap">
                                            <img class="capimg" src="image/cap.png" alt="date">
                                        </div>
                                        <p>Lyum Watson </p>
                                    </div>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <button class="cancl">New</button>
                            </td>
                            <td>
                                <div class="actiondropdown">
                                    <button class="actiondropbtn"><img src="image/group-38.png" alt="date"></button>
                                    <div class="actiondropdown-content">
                                        <a href="#">Edit&amp; Reschedule</a>
                                        <a href="#">Refund</a>
                                        <a href="#">Cancel</a>
                                        <a href="#">Change SP</a>
                                        <a href="#">Escalate</a>
                                        <a href="#">History Log</a>
                                        <a href="#">Download Invoice</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Lyum watson</td>
                            <td class="date">
                                <div class="flx calander">
                                    <img class="cald" src="image/calendar2.png" alt="date">
                                    <p>09/04/018</p>
                                </div>
                                <div class="flx">
                                    <img class="cald" src="image/layer-14.png" alt="date">
                                    <p>12:00-8:00</p>
                                </div>
                            </td>
                            <td class="date">
                                <div class="devid">
                                    <p>Devid Bough</p>
                                    <div class="flx">
                                        <img class="homimg" src="image/layer-15.png" alt="date">
                                        <p>Musterstrabe 5,12345 Bonn </p>
                                    </div>

                                </div>
                            </td>
                            <td class="date">
                                <div>
                                    <div class="flx">
                                        <div class="cap">
                                            <img class="capimg" src="image/cap.png" alt="date">
                                        </div>
                                        <p>Lyum Watson </p>
                                    </div>
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <button class="cancl">New</button>
                            </td>
                            <td>
                                <div class="actiondropdown">
                                    <button class="actiondropbtn"><img src="image/group-38.png" alt="date"></button>
                                    <div class="actiondropdown-content">
                                        <a href="#">Edit&amp; Reschedule</a>
                                        <a href="#">Refund</a>
                                        <a href="#">Cancel</a>
                                        <a href="#">Change SP</a>
                                        <a href="#">Escalate</a>
                                        <a href="#">History Log</a>
                                        <a href="#">Download Invoice</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <section class="">
                    <div class="flx show">
                        <div>
                            <h4>show entries</h4>
                        </div>
                        <div>
                            <select style="width: 50px; height: 30px; margin-left: 12px;">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                        <div class="pagination">
                            <a href="#">«</a>
                            <a href="#">1</a>
                            <a href="#" class="active">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">»</a>
                        </div>
                    </div>
                </section>
            </section>

        </div>
    </div>
</section>

