@model WebApplication4.ContactUs;
@{
    ViewData["Title"] = "Contact";
}
<link rel="stylesheet" href="~/css/contact.css">
<link href="~/image/">
<div>
    <img class="image" src="~/image/group-16_2.png" alt="">
</div>
<div class="center cont">
    <h2 class="relv">Contact us</h2>
    <img class="pricestar center" src="~/image/separator.png">
</div>
<div class="extraimage">
    <div class="imagdivv">
        <img class="imageextraserv" src="~/image/forma-1_2.png" alt="">
        <br>
        <p>1111 Lorem ipsum text 100,<br>Lorem ipsum AB</p>
    </div>
    <div class="imagdivv">
        <img class="imageextraserv" src="~/image/phone-call.png" alt="">
        <br>
        <p>+49(40)123 56 7890<br>+49(40)987 56 0000</p>
    </div>
    <div class="imagdivv">
        <img class="imageextraserv" src="~/image/vector-smart-object.png" alt="">
        <br><br>
        <p>info@helperland.com</p>
    </div>
</div>
<div class="gettouch">
    <h1 class="center"> GET IN TOUCH WITH US</h1>
    <div class="center getfrm">
        <form method="post" asp-controller="Home" asp-action="CreateForContactus">
            <input type="name" asp-for="Name" placeholder="first name">
            <input type="name" asp-for="Status" placeholder="last name"><br>
            <input type="number" asp-for="PhoneNumber" placeholder="mobile number">
            <input type="email" asp-for="Email" placeholder="email address"><br>
            <input list="Subject" asp-for="SubjectType" type="tex" placeholder="SubjectType">
            <datalist id="Subject">
                <option value="Subject1">
                </option>
                <option value="Subject2">
                </option>
            </datalist>
            <br>
            <input class="message" asp-for="Message" type="text" placeholder="Message"><br>
            <input class="bootn" type="submit" value="submit">
        </form>
    </div>
</div>
<div class="center map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d347191.0455566068!2d72.50251153876891!3d23.012662232199304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1643712547413!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<div class="getournews">

    <div class="news">
        <div class="info">
            <button class="upbuttn">
                <img class="upbuttnimg" src="~/image/down-arrow.png">
            </button>
            <h2 class="getnewhed">GET OUR NEEWS ENTER</h2>
            <button class="pnklogo"> <img class="layer" src="~/image/layer-598.png" alt=""></button>
        </div>
        <div class="yoreml">
            <input type="email" class="rect" placeholder="your email">
            <button class="rect2">Submit</button>

        </div>
    </div>
</div>