@{
    ViewData["Title"] = "faq";
}
<link rel="stylesheet" href="~/css/faqs.css">
<div class="center">
    <a href="Homepage.html"><img class="image" src="~/image/faq-banner.png" alt=""></a>
</div>
<div class="center">
    <h2 class="relv">FAQS</h2>
    <img class="pricestar center" src="~/image/separator.png">
    <p>
        Whether you are Customer or Service provider, We have tried our best to solve all your queries and questions.
    </p>
</div>