@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css">
<section class="page1">
    <div class="Lorem">
        <p class="loremhead">Lorem ipsum text</p>
        <p class="loremdtl">
            Lorem ipsum text dolor sit amet consectetur adipiscing<br><br>
            Lorem ipsum text dolor sit amet consectetur adipiscing<br><br>
            Lorem ipsum text dolor sit amet consectetur adipiscing
        </p>
    </div>
    <!-- !PAGE CONTENT 1 -->
    @Html.Partial("login2")
    @Html.Partial("_ForgotPassword")
    <div class="letsbok">
        <button class="letsbookbutton">let's book clener</button>
    </div>
    <div class="POSTCOD">
        <div class="im1">
            <img class="im1pro" src="~/image/step-1.png" alt="logo">
            <p>Enter your postcode</p>
        </div>
        <div class="im1"><img class="arrow123" src="~/image/step-arrow-1.png" alt="logo"></div>
        <div class="im1">
            <img class="im1pro" src="~/image/step-2.png" alt="logo">
            <p>Select your plan</p>
        </div>
        <div class="im1"><img class="arrow123" src="~/image/step-arrow-1-copy.png" alt="logo"></div>
        <div class="im1">
            <img class="im1pro" src="~/image/step-3.png" alt="logo">
            <p>Pay securely online</p>
        </div>
        <div class="im1"><img class="arrow123" src="~/image/step-arrow-1.png" alt="logo"></div>
        <div class="im1">
            <img class="im1pro" src="~/image/step-4.png" alt="logo">
            <p>Enjoy amazing service</p>
        </div>
    </div>
    <div class="dwn">
        <a href=""><img src="~/image/group-18_5.png"></a>
    </div>
</section>

<!-- !PAGE CONTENT 2 -->

<section class="whyhelp">
    <h2 class="whyhelphead">Why Helperland</h2>
    <section class="expr">
        <div class="expsopded">
            <div class="image333">
                <img src="~/image/helper-img-1.png" alt="helper" style="width:100%">
                <h2 class="text-center">Experience &amp; Vetted Professionals</h2>
                <p class="text-center">
                    dominate the industry in scale and scope with an adaptable, extensive network
                    that consistently delivers exceptional results.
                </p>
            </div>

            <div class="image333">
                <img src="~/image/group-23.png" alt="helper" style="width:100%">
                <h2 class="text-center">Experience &amp; Vetted Professionals</h2>
                <p class="text-center">
                    Payment is proccessed securely online. Customer pay safely online and manage
                    the booking.
                </p>

            </div>

            <div class="image333">
                <img src="~/image/group-24.png" alt="helper" style="width:100%">
                <h2 class="text-center">Experience &amp; Vetted Professionals</h2>
                <p class="text-center">
                    to our customers and are guided in all we do by their needs. The team is
                    always happy to support you and offer all the information.
                </p>

            </div>

        </div>
    </section>

</section>

<!-- !PAGE CONTENT44444 -->
<div class="threeinone">
    <div class="expsopded">
        <div class="page3">
            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
            <p class="">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut
                accumsan vitae, pulvinar ac libero. Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus
                purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor.
                Integer pretium hendrerit ante quis vehicula. Mauris consequat ornare enim, sed lobortis quam
                ultrices sed.
            </p>
        </div>

        <div class="logoin1">
            <img src="~/image/group-36.png" alt="helper" class="grp36">
        </div>
    </div>
</div>

<!--!PAGE CONTENT 555555-->

<div class="whyhelp">

    <h4 class="ourbloghed">Our Blog</h4>
    <div class="expsopded">
        <div class="fr1blog">
            <img src="~/image/group-28.png" alt="helper" style="width:100%">
            <h2 class="text-center">Lorem ipsum dolor sit amet</h2>
            <p class="text-center">
                Lorem ipsu1n dolor sit amet, eonseetetur adipiseing elit. Sed fermentum metus
                pulvinar aliquet..
            </p>
            <a href="#prices" class="">
                <h4 class="text-center">read the post</h4>
            </a>
        </div>

        <div class="fr1blog">
            <img src="~/image/group-29.png" alt="helper" style="width:100%">
            <h2 class="text-center">Lorem ipsum dolor sit amet</h2>
            <p class="text-center">
                Lorem ipsu1n dolor sit amet, eonseetetur adipiseing elit. Sed fermentum metus
                pulvinar aliquet.
            </p>
            <a href="#prices" class="">
                <h4 class="text-center">read the post</h4>
            </a>
        </div>

        <div class="fr1blog">
            <img src="~/image/group-30.png" alt="helper" style="width:100%">
            <h2 class="text-center">Lorem ipsum dolor sit amet</h2>
            <p class="text-center">
                Lorem ipsu1n dolor sit amet, eonseetetur adipiseing elit. Sed fermentum metus
                pulvinar aliquet.
            </p>
            <a href="#prices" class="">
                <h4 class="text-center">read the post</h4>
            </a>
        </div>

    </div>

</div>
<!-- !PAGE CONTENT5555555555555! -->
<div class="third">
    <h1 class="whatourcust">What Our Customers Say</h1>
    <div class="expsopded">
        <div class="WOCS">
            <div class="ljl">
                <img src="~/image/group-31.png" alt="Larry Watson">

                <h5>Larry Watson <br><span>Manchester</span> </h5>
            </div>
            <p class="prag">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar
                aliquet consequat.
                Praesent nec malesuada nibh.<br><br> Nullam et metus congue, auctor augue sit amet, consectetur
                tortor.
                <br><br>Read More <img src="~/image/shape-2.png" alt="">
            </p>

        </div>
        <div class="WOCS">
            <div class="ljl">
                <img src="~/image/group-32.png" alt="John Smith">

                <h5 class="johnlarry">John Smith <br><span>Manchester</span> </h5>
            </div>
            <p class="prag">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar
                aliquet consequat.
                Praesent nec malesuada nibh.<br><br> Nullam et metus congue, auctor augue sit amet, consectetur
                tortor.
                <br><br>Read More <img src="~/image/shape-2.png" alt="">
            </p>

        </div>
        <div class="WOCS">
            <div class="ljl">
                <img src="~/image/group-33.png" alt="mr lars Johnson">

                <h5>Lars Johnson <br><span>Manchester</span> </h5>
            </div>
            <p class="prag">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar
                aliquet consequat.
                Praesent nec malesuada nibh.<br><br> Nullam et metus congue, auctor augue sit amet, consectetur
                tortor.
                <br><br>Read More <img src="~/image/shape-2.png" alt="">
            </p>

        </div>
    </div>

    <div class="getournews">

        <div class="news">
            <div class="info">
                <button class="upbuttn">
                    <img class="upbuttnimg" src="~/image/down-arrow.png">
                </button>
                <h2 class="getnewhed">GET OUR NEEWS ENTER</h2>
                <button class="pnklogo"> <img class="layer" src="~/image/layer-598.png" alt=""></button>
            </div>
            <div class="yoreml">
                <input type="email" class="rect" placeholder="your email">
                <button class="rect2">Submit</button>

            </div>
        </div>
    </div>
</div>