@{
    ViewData["Title"] = "Contact";
}
<link rel="image" href="~/image/">
<link rel="stylesheet" href="~/css/price.css">
<section class="content">
    <img class="image" src="image/group-18.png" alt="">
    <h1 class="pricebox center">
        PRICES
        <br>
        <img class="pricestar center" src="image/separator.png">
    </h1>
    <section class="timform">
        <div class="onetime">
            <div class="onetime1">
                ONE TIME
            </div>
            <div class="formdata">
                <p class="20hrhr">$20/hr</p>
                <input type="checkbox">
                <label>Lower prices</label><br><br>
                <input type="checkbox">
                <label>Easy online &amp; secure payment</label><br><br>
                <input type="checkbox">
                <label>Easy amendment</label><br>
            </div>
        </div>
    </section>

    <h1 class="pricebox center">
        Extra Services
        <br>
        <img class="pricestar center" src="image/separator.png">
    </h1>
    <div class="extraimage">
        <div class="extraservicimg">
            <div class="border"><img class="imageextraserv" src="image/3.png" alt=""></div>
            <div>
                <br>
                <h2>inside cabinet</h2>
                <p>30 minutes</p>
            </div>
        </div>
        <div class="extraservicimg">
            <div class="border"><img class="imageextraserv" src="image/5.png" alt=""></div>
            <div>
                <br>
                <h2>inside cabinet</h2>
                <p>30 minutes</p>
            </div>
        </div>
        <div class="extraservicimg">
            <div class="border"><img class="imageextraserv" src="image/4.png" alt=""></div>
            <div>
                <br>
                <h2>inside cabinet</h2>
                <p>30 minutes</p>
            </div>
        </div>
        <div class="extraservicimg">
            <div class="border"><img class="imageextraserv" src="image/2.png" alt=""></div>
            <div>
                <br>
                <h2>inside cabinet</h2>
                <p>30 minutes</p>
            </div>
        </div>
        <div class="extraservicimg">
            <div class="border"><img class="imageextraserv" src="image/1.png" alt=""></div>
            <div>
                <br>
                <h2>inside cabinet</h2>
                <p>30 minutes</p>
            </div>
        </div>
    </div>

    <h1 class="pricebox center">
        what we include in cleaning
        <br>
        <img class="pricestar center" src="image/separator.png">
    </h1>
    <div class="extraimage">
        <div class="fr1blog">
            <img src="image/group-18_3.png" alt="Bedroom" style="width:100%">
            <h2 class="center">Bedroom and Live Room</h2>
            <p class="center">
                Dust all accessible surfaces<br> Wipe down all mirrors and glass fixtures <br>Clean
                all floor surfaces<br> Take out garbage and recycling
            </p>
        </div>

        <div class="fr1blog">
            <img src="image/group-18_4.png" alt="Bathroom" style="width:100%;">
            <h2 class="center">Bathroom</h2>
            <p class="center">
                Wash and sanitize the toilet, shower, tub, sink<br> Dust all accessible surfaces<br>
                Wipe down all mirrors and glass fixtures<br> Take out garbage and recycling
            </p>
        </div>

        <div class="fr1blog">
            <img src="image/group-18_2.png" alt="Kitchen" style="width:100%">
            <h2 class="center">Kitchen</h2>
            <p class="center">
                Dust all accessible surfaces<br> Wipe down all mirrors and glass fixtures <br>Clean
                all floor surfaces<br> Take out garbage and recycling
            </p>
        </div>

    </div>
    <h1 class="pricebox center">
        Why Helperland
        <br>
        <img class="pricestar center" src="image/separator.png">
    </h1>

    <div class="whyhelper">
        <div class="thebstleft">
            <div class="thebestpar">
                <h5>Experienced and vetted professionals</h5>
                <p>
                    dominate the industry in scale and scope with an adaptable, extensive network that consistently
                    delivers exceptional results.
                </p>
            </div>
            <div class="thebestpar">
                <h5>Dedicated customer service</h5>
                <p>
                    dominate the industry in scale and scope with an adaptable, extensive network that consistently
                    delivers exceptional results.
                </p>
            </div>
        </div>
        <div class="thebst">
            <img src="image/the-best-img-1.png" alt="the best cleaning">
        </div>

        <div class="thebstright">
            <div class="thebestpar">
                <h5>Every cleaning is insured</h5>
                <p>
                    dominate the industry in scale and scope with an adaptable, extensive network that consistently
                    delivers exceptional results.
                </p>
            </div>
            <div class="thebestpar">
                <h5>Secure online payment</h5>
                <p>
                    dominate the industry in scale and scope with an adaptable, extensive network that consistently
                    delivers exceptional results.
                </p>
            </div>
        </div>
    </div>
    <div class="getournews">
        <div class="news">
            <div class="info">
                <button class="upbuttn">
                    <img class="upbuttnimg" src="image/down-arrow.png">
                </button>
                <h2 class="getnewhed">GET OUR NEEWS ENTER</h2>
                <button class="pnklogo"> <img class="layer" src="image/layer-598.png" alt=""></button>
            </div>
            <div class="yoreml">
                <input type="email" class="rect" placeholder="your email">
                <button class="rect2">Submit</button>

            </div>
        </div>
    </div>
</section> 