
@model WebApplication4.Models.User

@{
    ViewData["Title"] = "Service_Provider_Become_a_Pro";
}
<link rel="image" href="~/image/">
<link rel="stylesheet" href="~/css/service_provider_become_pro.css">
<section>
    <div class="backimge">
        <form method="post" asp-controller="Home" asp-action="CreateForProvider">
            <div class="frm">
                <h1>REGISTER NOW</h1>
                <input type="name"asp-for="FirstName" placeholder="first name"><br><br>
                <input type="name"asp-for="LastName" placeholder="last name"><br><br>
                <input type="email" asp-for="Email" placeholder="email address"><br><br>
                <input type="number" asp-for="Mobile" placeholder="mobile number"><br><br>
                <input type="passwrd" asp-for="Password" placeholder="password"><br><br>
                <input type="passwrd" placeholder="confirm password"><br><br>
                <input type="checkbox">
                <label>Send me newsletters from Helperland</label><br><br>
                <input type="checkbox">
                <label>I accept terms and conditions &amp; privacy policy</label><br><br>
                <iframe sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"
                        scrolling="no" frameborder="0" name="a-6yfj6gjwyzpx" role="presentation" height="78" width="304"
                        src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=your_site_key&amp;co=ZmlsZTo.&amp;hl=en&amp;v=VZKEDW9wslPbEc9RmzMqaOAP&amp;size=normal&amp;cb=yb9ah540r25u"
                        title="reCAPTCHA"></iframe>
                <button class="bootn" value="submit">
                    Get Started <img src="~/image/arrow-white.png" class="bord"
                                     alt="">
                </button><br>
            </div>
        </form>
        <div><img src="~/image/group-18_5.png" class="dwn" alt=""></div>
    </div>
    <section class="center">
        <h1>How it works</h1>
        <div class="expsopded">
            <div class="page3">
                <h2>Register yourself</h2>
                <p class="">Provide your basic information to register yourself as a service provider.</p>
            </div>
            <div class="logoin1">
                <img src="~/image/wom.png" alt="helper" class="grp36">
            </div>
        </div>
        <div class="expsopded">
            <div class="logoin1">
                <img src="~/image/group-29.png" alt="helper" class="grp36">
            </div>
            <div class="page3">
                <h2>Get service requests</h2>
                <p class="">You will get service requests from customes depend on service area and profile.</p>
            </div>
        </div>
        <div class="expsopded">
            <div class="page3">
                <h2>Complete service</h2>
                <p class="">Accept service requests from your customers and complete your work.</p>
            </div>
            <div class="logoin1">
                <img src="~/image/group-30.png" alt="helper" class="grp36">
            </div>
        </div>
    </section>
    <div class="getournews">

        <div class="news">
            <div class="info">
                <button class="upbuttn">
                    <img class="upbuttnimg" src="~/image/down-arrow.png">
                </button>
                <h2 class="getnewhed">GET OUR NEEWS ENTER</h2>
                <button class="pnklogo"> <img class="layer" src="~/image/layer-598.png" alt=""></button>
            </div>
            <div class="yoreml">
                <input type="email" class="rect" placeholder="your email">
                <button class="rect2">Submit</button>

            </div>
        </div>
    </div>
</section>
